.font-style {
  color: #404040 !important;
  font-weight: 500 !important;
}

ul li {
  color: #404040 !important;
}

.black {
  color: black;
}
@media only screen and (min-width: 1280px) {
  .flex-container img {
    width: 70%;
    height: auto;
  }
  .flex-container {
    display: flex;
    width: 150px;
    height: 100px;
  }
  .mobile-nav {
    margin-left: -50px;
  }
}

@media only screen and (max-width: 1280px) {
  .flex-container img {
    width: 70%;
    height: auto;
  }
  .flex-container {
    display: flex;
    width: 150px;
    height: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container img {
    width: 70%;
    height: auto;
  }
  .flex-container {
    display: flex;
    width: 150px;
    height: 100px;
  }
}
/* media queries */

@media only screen and (max-width: 768px) {
  .mobile-nav {
    background: white !important;
    /* font-size: 24px; */
    margin-left: -10px;
  }
  .navbar-brand {
    color: black !important;
    font-size: 18px;
  }
  .flex-container img {
    width: 70%;
    height: auto;
  }
  .flex-container {
    display: flex;
    width: 100px;
    height: 80px;
    margin-right: 10px;
  }
  .oi-menu {
    color: black !important;
  }
  .nav-item {
    color: black !important;
  }
  .mobile-li-color {
    color: black !important;
  }
}
